    <footer class="page-footer font-small unique-color-dark pt-4">
        <div class="pages">
            <a class="footer__nav-buttons" href="/closet">closet</a>
            <a class="footer__nav-buttons" href="/photod">photo'd</a>
            <a class="footer__nav-buttons" href="/listed">list'd</a>
        </div>
        <div class="container">
            <ul class="footer__ul list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                <h5 class="mb-1">share dePoppler!</h5>
                </li>
                <li class="list-inline-item">
                <a class="footer__links" href="#!">sign out</a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright text-center py-3">
            © 2020 copyright:<a class="footer__links" href=""> runandJump.com</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>