<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dePoppler</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/modals.css">
</head>
<body>
    <div class="backdrop"></div>
    <header>
        <nav class="header-navbar navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">dePoppler</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">closet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">photo'd</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">list'd</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="search" ariaLabel="Search"/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">search</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="modal__new-item">
        <form action="/" method="post">
            <h1 class="newEntryForm__header">enter new item</h1>
            <input type="text" name="item" placeholder="new item" autocomplete="off">
            <button class="newEntryForm__button">add to closet</button>
        </form>
    </div>
    <header>