<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dePoppler</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/money.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/modals.css">
</head>
<body>
    <div class="backdrop"></div>
    <form class="modal__new-item" action="/" method="post">
        <h1 class="newEntryForm__header">Enter New Item</h1>
        <label for="group">Group Name:</label>
        <select name="group" id="group">
            <option value="shirts">Shirts</option>
            <option value="pants">Pants</option>
            <option value="shoes">Shoes</option>
            <option value="hats">Hats</option>
            <option value="other">Other</option>
        </select>
        <label>Item Name:</label>
        <input class="modal__new-item__name" type="text" name="item" placeholder="New Item" autocomplete="off">
        <div class="price-section">
            <div class="price-section__money">
                <label>Item Cost:</label>
                <div class="price-section__money__inputs">
                    <span>$</span>
                    <input type="text" name="costDollars" class="price" placeholder="XX" autocomplete="off">
                    <span>.</span>
                    <input type="text" name="costCents" class="price" placeholder="XX" autocomplete="off">
                </div>
            </div>
            <div class="price-section__money">
                <label>Item Price:</label>
                <div class="price-section__money__inputs">
                    <span>$</span>
                    <input type="text" name="priceDollars" class="price" placeholder="XX" autocomplete="off">
                    <span>.</span>
                    <input type="text" name="priceCents" class="price" placeholder="XX" autocomplete="off">
                </div>
            </div>
        </div>
        <button class="add-item-button">Add To Closet</button>
    </form>