<nav class="sidebar">
    <h1>dePoppler</h1>
    <ul>
        <li>
            <a href="/dashboard"><i class="fas fa-home"></i> Home</a>
        </li>
        <li>
            <a href="/closet"><i class="fas fa-door-closed"></i> Closet</a>
        </li>
        <li>
            <a href="/photod"><i class="fas fa-camera-retro"></i> Photo'd</a>
        </li>
        <li>
            <a href="/listed"><i class="fas fa-store"></i> List'd</a>
        </li>
        <li>
            <a href="/dashboard"><i class="fas fa-money-bill-wave"></i> Money</a>
        </li>
    </ul>
    <button class="upload-button">Add Item</button>
</nav>