<nav class="sidebar">
    <h1 class="sidebar-logo">dePoppler</h1>
    <ul>
        <li>
            <a class="sidebar__link" href="/dashboard"><i class="fas fa-home"></i> <span class="sidebar-text">Home</span></a>
        </li>
        <li>
            <a class="sidebar__link" href="/closet"><i class="fas fa-door-closed"></i> <span class="sidebar-text">Closet</span></a>
        </li>
        <li>
            <a class="sidebar__link" href="/photod"><i class="fas fa-camera-retro"></i> <span class="sidebar-text">Photo'd</span></a>
        </li>
        <li>
            <a class="sidebar__link" href="/listed"><i class="fas fa-store"></i> <span class="sidebar-text">List'd</span></a>
        </li>
        <li>
            <a class="sidebar__link" href="/sold"><i class="fas fa-shopping-bag"></i> <span class="sidebar-text">Sold</span></a>
        </li>
        <li>
            <a class="sidebar__link" href="/money"><i class="fas fa-money-bill-wave"></i> <span class="sidebar-text">Money</span></a>
        </li>
    </ul>
    <div class="sidebar__bottom-buttons">
        <button class="add-item-button"><i class="fas fa-plus"></i> <span class="sidebar-text">Add Item</span></button>
        <button class="expand"><i class="fas fa-angle-right"></i></button>
    </div>
</nav>