<%- include("partials/header.ejs") %>

<div class="home__jumbotron">
  <a class="home__login" href="/login">Login</a>
  <div class="jumbotron__text">
    <h1>Need help organizing your inventory?</h1>
    <h4>dePoppler can help you keep track of every item that goes through your store</h4>
    <a class="cta-button" href="/signup">Get Started</a>
  </div>
</div>

<div class="intro">
  <img src="https://firebasestorage.googleapis.com/v0/b/depoppler.appspot.com/o/clothing-store-984396_1920.jpg?alt=media&token=be55fe6b-0f22-46d5-b60b-ea76961bd5bf" alt="Intro Image - Closet">
  <div class="intro__text">
    <h2>Never lose track of items again!</h2>
    <h4>dePoppler is <em>so</em> easy to learn. Easily track each item from thrifted to delivered.</h4>
  </div>
</div>

<div class="highlights">
  <div class="highlights__container">
    <div class="highlight">
      <img src="https://firebasestorage.googleapis.com/v0/b/depoppler.appspot.com/o/TrackItems.svg?alt=media&token=faf1d118-cd36-4062-8e3f-acb873448e12" alt="Keep-Track Image">
      <h2>Track Each Item.</h2>
      <p>With dePoppler, you can track each one of your items by placing them in the given categories, or customize your own.</p>
    </div>
    <div class="highlight">
      <img src="https://firebasestorage.googleapis.com/v0/b/depoppler.appspot.com/o/UploadImages.svg?alt=media&token=983b874e-d166-4ad7-acfa-d119bbeaf207" alt="Upload-Image Image">
      <h2>Upload Images</h2>
      <p>When descriptions aren't enough, upload an image to identify your items faster.</p>   
    </div>
    <div class="highlight">
      <img src="https://firebasestorage.googleapis.com/v0/b/depoppler.appspot.com/o/TrackProfits.svg?alt=media&token=c4c6965b-3f90-4b11-af0b-db231620c5d3" alt="Money Image">
      <h2>Track Your Profits</h2>
      <p>Enter how much you paid for each item, and dePoppler will track your overall profits once them items have sold.</p>
    </div>
  </div>
</div>

<div class="money">
  <div class="money__text">
    <h2>Everything In One Place</h2>
    <p>Organizing your entire dePop business becomes easy with dePoppler. Inventory AND money all-in-one!</p>
  </div>
  <div class="money__image">
    <img src="https://firebasestorage.googleapis.com/v0/b/depoppler.appspot.com/o/fashion-1031469_1920.jpg?alt=media&token=68d3c287-6eba-492b-9eee-f9b4c065e8ee" alt="Clothing Rack">
    <img src="https://firebasestorage.googleapis.com/v0/b/depoppler.appspot.com/o/coins-948603_1920.jpg?alt=media&token=7ba006d1-1bc4-4556-b2b0-132aea0104be" alt="">
    <img src="https://firebasestorage.googleapis.com/v0/b/depoppler.appspot.com/o/clothes-1839935_1920.jpg?alt=media&token=3f48e1a6-53d9-4434-b56b-7420bb340268" alt="">
  </div>
</div>

<footer class="footer">
  <div class="footer__section footer__description">
    <h4>Share dePoppler!</h4>
      <p>dePoppler was made to assist sellers organize their inventory and track their profits when utilizing various resale apps. dePoppler is 100% free and has no connection with any other organization.</p>
      <p>© 2020 Created By: <a class="footer__links" target="_blank" rel="noopener noreferrer" href="https://mycv-bdfa2.web.app/"> runandJump!</a></p>
      <div class="footer__socials">
        <a class="footer__social" target="_blank" rel="noopener noreferrer" href="https://twitter.com/runandJUMP99"><i class="fab fa-twitter"></i>twitter</a>
        <a class="footer__social" target="_blank" rel="noopener noreferrer" href="https://dribbble.com/runandJUMP"><i class="fab fa-dribbble"></i>dribbble</a>
        <a class="footer__social" target="_blank" rel="noopener noreferrer" href="https://github.com/runandjump99/dePoppler"><i class="fab fa-github"></i>github</a>
        <a class="footer__social" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/steven-velez-32210b1b1"><i class="fab fa-linkedin"></i>linkedin</a>
      </div>
  </div>
  <div class="footer__section">
    <ul class="footer__links">
      <li><a href="">About Us</a></li>
      <li><a href="">Services</a></li>
      <li><a href="">Terms</a></li>
      <li><a href="">Privacy</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
  </div>
  <div class="footer__section footer__contacts">
    <h4>Contact Us</h4>
    <p><i class="fas fa-envelope"></i>info@depoppler.com</p>
    <p><i class="fas fa-phone"></i>(888) 555-9999</p>
    <p><i class="fas fa-map-marker-alt"></i>123 Actual Ave, Springfield, Florida, 39393</p>
  </div>
  <div class="footer__section footer__signup">
    <h4>Sign up for updates!</h4>
    <input type="text" placeholder="Email">
    <button class=cta-button>Subscribe</button>
  </div>
</footer>
    
<%- include("partials/footer.ejs") %>