<%- include('partials/header.ejs') %>

<ul class="items-section">
    <h1 class="status-header">photo'd</h1>

    <% foundItem.forEach(function(item) { %>
        <% if (item.status == "photod") { %>
        <form action="/change" method="post">
            <div class="item">
                <div class="item-img-container">
                    img<img src="" alt="">
                </div>
                <div>
                    <label class="item-name-label" for="itemName">item name |</label>
                    <li class="item-name" name="itemName"> <%= item.name %> </li>
                </div> 
                <div class="move-to-section">
                    <label class="status-label">move to: </label>
                    <div class="move-to-buttons">
                        <label>closet</label>
                        <input type="checkbox" name="moveCloset" value="closet" onChange="submit()">
                        <label>list'd</label>
                        <input type="checkbox" name="moveListed" value="listed" onChange="submit()">
                        <label>delete</label>
                        <input type="checkbox" name="moveDelete" value="delete" onChange="submit()">
                        <input type="hidden" name="moveId" value="<%= item.id %>">
                    </div>
                </div>
            </div>
        </form>
    <% } %>
    <% }) %>
</ul>

<%- include('partials/footer.ejs'); %>