/* SIDEBAR */


.sidebar {
    background: #e4a3d4;
    box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 0;
    position: fixed;
    transition: all 0.5s ease-out;
    width: 4rem;
    z-index: 15;
}

.sidebar-logo,
.sidebar-logo__expand {
    color: white;
    font-size: 2rem;
    margin: 0 auto;
    padding: 1rem 0 2rem;
    text-align: center;
    width: 80%;
}

.sidebar-logo__expand {
    display: none;
}

.sidebar ul {
    list-style: none;
    padding: 0 0 4rem;
}

.sidebar__link,
.add-item-button {
    border-radius: 32px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
    color: white;
    display: block;
    margin: 0.7rem auto;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-out;
    width: 80%;
}

.sidebar__link:hover {
    background: #d68ec4;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.add-item-button {
    background: white;
    border: none;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
    color: #e4a3d4;
    font-weight: bold;
    width: 100%;
}

.add-item-button:hover,
.add-item-button:active {
    background: #d68ec4;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
    color: white;
}

.sidebar-text {
    display: none;
    left: 30%;
    opacity: 0;
    position: absolute;
}

.sidebar__bottom-buttons {
    margin: auto;
    width: 80%;
}

.expand {
    background: #e4a3d4;
    border: none;
    border-radius: 32px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
    width: 100%;
}

.expand:hover,
.expand:active {
    background: white;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
    color: #e4a3d4;
}

.sidebar__expand {
    width: 15rem !important;
}

.text-align-left {
    text-align: left;
}


/* DISPLAY */


.display {
    margin-left: 4rem;
    padding-bottom: 2rem;
}

.display__welcome {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 100%, transparent), 
    url("https://firebasestorage.googleapis.com/v0/b/depoppler.appspot.com/o/cliffs-1846886_1920.jpg?alt=media&token=7d680130-dbc7-4ff2-8577-6f2bb35fe6c4") center/cover no-repeat border-box, #e4a3d4;
    color: white;
    padding: 4rem 3rem;
    text-align: center;
    width: 100%;
}


/* REPORTS */


.display__top {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    margin: 0 9%;
    padding: 3rem 0;
}

.reports-section {
    width: 100%;
}

.report {
    align-items: center;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 4px 1px #66666680 inset;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1.5rem 2rem;
    transition: all 0.2s ease-out;
}

.report:hover,
.report:active {
    background: #f5f5f5;
    box-shadow: 0 0 8px 2px #66666680 inset;
    cursor: pointer;
}

.report__left {
    margin-right: 2rem;
}

.report h4 {
    color: #c295d8;
    font-weight: bold;
    margin: 0;
}

.report h6   {
    margin: 0;
}

.report p {
    margin: 0;
}


/* GRAPH */


.graph-section {
    text-align: center;
    width: 100%;
}

#graph {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    display: flex;
    height: 15rem;
    justify-content: space-around;
    padding-top: 1rem;
    position: relative;
}

.graph__bar {
    align-self: flex-end;
    background: #c295d8;
    border-radius: 16px 16px 0 0;
    transition: all 0.2s ease-out;
    width: 2rem;
}

.graph__bar p {
    color: white;
    font-weight: bold;
    padding-top: 0.4rem;
}

.graph__bar:hover {
    background: #e4a3d4;
}

.groups {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.groups p {
    margin: 1rem 0;
    transform: rotate(-70deg);
}

/* ITEMS COUNTER */

.items-counter {
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 4px 1px #66666680 inset;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 9%;
    padding: 3rem 0;
    text-align: center;
}

.item-counter {
    margin: 0 1rem;
}

.item-counter h4 {
    color: #c295d8;
    font-size: 2rem;
    margin: 0.5rem;
}

.item-counter h1 {
    font-size: 4rem
}


/* ERROR MESSAGE */


.error-message {
    color: red;
    margin: 1rem 2rem 0;
}


/* MEDIA QUERIES */


@media (min-width: 900px) {
    .display {
        margin-left: 20%;
    }

    .sidebar {
        width: 20%;
    }

    .sidebar-logo {
        display: none;
    }
    
    .sidebar-logo__expand {
        display: block;
    }

    .sidebar__link,
    .add-item-button {
        text-align: left;
    }

    .sidebar-text {
        display: initial;
        opacity: 1;
    }

    .expand {
        display: none;
    }
}

@media (min-width: 790px)  {
    .display__top {
        flex-direction: row;
        justify-content: space-between;
    }

    .reports-section {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 1rem;
    }

    .report {
        margin: 0;
    }

    .graph-section {
        align-self: stretch;
        margin-left: 1rem;
    }
}

@media (min-width: 575px) {
    .display__welcome {
        text-align: left;
    }

    .items-counter {
        flex-direction: row;
    }
}

/* 
COLOR PALETTE
fce2db
f1c6d3
e4a3d4
c295d8 */

/*