h4 {
    font-weight: normal;
    margin: 2rem 0;
}

/* JUMBOTRON */

.home__jumbotron {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 40%, transparent), 
    url("https://firebasestorage.googleapis.com/v0/b/depoppler.appspot.com/o/store-984393_1920.jpg?alt=media&token=b794ab80-3a47-4297-8f66-9f47e478fd8d") center/cover no-repeat border-box, #e4a3d4;
    padding: 8rem 0;
    width: 100%;
}

.cta-button,
.home__login {
    background: #e4a3d4;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.cta-button:hover,
.cta-button:active,
.home__login:hover,
.home__login:active {
    background: white;
    color: #e4a3d4;
    text-decoration: none;
}


.home__login {
    font-size: 1rem;
    font-weight: normal;
    padding: 0.2rem 0.8rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.jumbotron__text {
    color: white;
    margin: auto;
    text-align: center;
    width: 80%;
}

/* FIRST SECTION */

.intro {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 7rem auto;
    max-width: 1300px;
    width: 100%;
}

.intro img {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    width: 80%;
}

.intro__text {
    text-align: center;
    width: 80%;
}

.intro__text h2 {
    color: #e4a3d4;
    font-weight: bold;
}

/* SECOND SECTION */

.highlights {
    background: #e4a3d4;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 7rem auto;
    padding: 7rem 3rem;
    text-align: center;
}

.highlights__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1300px;
}

.highlight {
    margin: 2rem auto;
    max-width: 325px;
}

.highlight img {
    margin-bottom: 1rem;
    max-width: 200px;
}

/* THIRD SECTION */

.money {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    margin: 7rem auto;
    max-width: 1300px;
}

.money__text {
    text-align: center;
    width: 80%;
}

.money__image {
    align-items: center;
    background: #e4a3d4;
    border-radius: 50%;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    max-width: 515px;
    padding: 2rem;
    width: 80%;
}

.money__image img {
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 4rem;
    margin: 1rem;
    width: 4rem;
}

/* FOOTER */

.footer {
    align-items: center;
    background: #313131;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0 1rem;
    text-align: center;
}

.footer h4 {
    margin-top: 0;
}

.footer a {
    color: white;
    margin-right: 0.5rem;
    white-space: nowrap;
}

.footer i {
    margin: 0 0.25rem;
}

.footer__section {
    margin: 2rem 2.5rem;
    max-width: 300px;
}

.footer__social {
    margin-bottom: 1rem;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__links li {
    margin: 0.5rem;
}

.footer__contacts {
    min-width: 175px;
}

.footer__signup input {
    background: #161616;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto 1rem;
    padding: 6px 10px;
}

.footer__signup input::placeholder {
    color: white;
}

.footer__signup .cta-button {
    font-size: 1rem;
}

@media (min-width: 500px) {
    .jumbotron__text {
        width: 40%;
    }

    .intro {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .intro img {
        width: 40%;
    }
    
    .intro__text {
        text-align: right;
        width: 40%;
    }
        
    .money {
        flex-direction: row;
    }

    .money__text {
        margin-left: 2rem;
        text-align: left;
        width: 40%;
    }

    .money__image {
        border-radius: 50% 0 0 50%;
        padding: 2rem 0 2rem 2rem;
        width: 50%;
    }

    .money__image img {
        height: 10rem;
        width: 10rem;
    }
}

@media (min-width: 675px) {
    .highlights__container {
        flex-direction: row;
    }

    .highlight {
        margin: 0 2rem;
    }

    .footer {
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
    }

    .footer .footer__section {
        flex: 0 50%;
    }

    .footer__links {
        flex-direction: column;
    }

    .footer__links li:first-child {
        margin-top: 0;
    }

    .footer__signup input {
        margin: 0 0 1rem;
    }
}

@media (min-width: 1100px) {
    .home__login {
        right: 2.5rem;
    }

    .footer {
        flex-wrap: nowrap;
    }

    .footer .footer_section {
        flex: initial;
    }
}

@media (min-width: 1300px) {
    .money {
        justify-content: space-around;
    }

    .money__text {
        margin: 0;
    }

    .money__image {
        border-radius: 50%;
        padding: 2rem;
    }
}