.backdrop {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100vw;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}
  
.modal__new-item {
    background: white;
    border: solid 1px #ccc;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    left: 50%;
    opacity: 0;
    padding: 1rem 8rem;
    position: fixed;
    text-align: center;
    top: 20%;
    transform: translate(-50%, -200%);
    transition: all 0.5s ease-out;
    width: 50%;
    z-index: 10;
}

.modal__new-item label {
    align-self: flex-start;
    margin: 0.25rem 0;
}

.modal__new-item select,
.modal__new-item__name {
    margin: 0 auto 0.5rem;
    width: 100%;
}

.modal__new-item button {
    width: 50%;
}

.modal__upload-img {
    background: white;
    border: solid 1px #ccc;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    display: none;
    left: 50%;
    padding: 1rem;
    position: fixed;
    text-align: center;
    top: 20%;
    transform: translate(-50%, 0);
    width: 70%;
    z-index: 10;
}

.price-section {
    display: flex;
    justify-content: space-between;
}

.price-section__money {
    display: flex;
    flex-direction: column;
}

.price-section__money__inputs {
    align-items: center;
    display: flex;
}

.price {
    display: inline-block;
    margin: 0 0.5rem;
    width: 2rem;
}

.open {
    display: inline-block !important;
    opacity: 1;
}

.modal__open {
    opacity: 1;
    transform: translate(-50%, 0);
}