html,
body {
  height: 100vh;
}

.upload-button {
    background: #e4a3d4;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 4rem 2rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
}

.upload-button:hover,
.upload-button:active {
    background: white;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
    color: #e4a3d4;
}

.header-navbar {
  background: #fce2db;
}

.newEntryForm {
  background: #fce2db;
  text-align: center;
  padding: 2rem;
}

.newEntryForm__header {
  color: #e4a3d4;
}

.pages {
  text-align: center;
}

/* FOOTER SECTION */

footer {
  background: #e4a3d4;
  color: white;
}

.footer__nav-buttons {
  background: white;
  border: solid 5px #fce2db;
  border-radius: 2rem;
  color: #e4a3d4;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.footer__nav-buttons:hover,
.footer__nav-buttons:active {
  background: #e4a3d4;
  color: white;
  text-decoration: none;
}

.footer__ul {
  margin: 2rem 0 0 0;
}

.footer__links:hover,
.footer__links:active {
  text-decoration: #c295d8;
  color: white;
}


/* CLOSET -- PHOTO'd -- LISTE'd SECTION */

.status-header {
  color: #e4a3d4;
  font-weight: bold;
}

.items-section {
  background: #fce2db;
  margin: 0;
  list-style: none;
  padding: 0.5rem 1rem;
}

.item {
  align-items: center;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px #ccc;
  display: flex;
  margin: 1rem;
}

.item label {
  padding-left: 1rem;
  margin: 0;
}

.item-img-container {
  border: solid 4px #fce2db;
  border-radius: 50%; 
  height: 4rem;
  margin: 0.8rem;
  width: 4rem;
}

.item-img-container img {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
}

.item-img-container:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.item-name-label {
  color: #ccc;
  font-size: 0.8rem;
  padding: 0 !important;
  text-align: left;
}

.item-name {
  color: #e4a3d4;
  font-weight: bold;
  text-align: left;
}

.move-to-section {
  text-align: left;
}

.status-label {
  color: #ccc;
  font-size: 0.8rem;
}

.move-to-buttons {
  color: #e4a3d4;
}

.upload-section {
  padding: 2rem;
  text-align: center;
}

/* 
COLOR PALETTE
fce2db
f1c6d3
e4a3d4
c295d8 */

/*